apiVersion: etcd.improbable.io/v1alpha1
kind: EtcdCluster
metadata:
  name: my-cluster
spec:
  image: "quay.io/coreos/etcd:v3.2.28"
  replicas: 3
  storage:
    volumeClaimTemplate:
      storageClassName: standard
      resources:
        requests:
          storage: 1Mi
  podTemplate:
    resources:
      requests:
        cpu: 200m
        memory: 200Mi
      limits:
        cpu: 200m
        memory: 200Mi
