apiVersion: etcd.improbable.io/v1alpha1
kind: EtcdCluster
metadata:
  name: my-cluster
spec:
  replicas: 3
  storage:
    volumeClaimTemplate:
      storageClassName: standard
      resources:
        requests:
          storage: 50Mi
