
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: etcdclusters.etcd.improbable.io
spec:
  group: etcd.improbable.io
  names:
    kind: EtcdCluster
    listKind: EtcdClusterList
    plural: etcdclusters
    singular: etcdcluster
  scope: ""
  validation:
    openAPIV3Schema:
      description: EtcdCluster is the Schema for the etcdclusters API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: EtcdClusterSpec defines the desired state of EtcdCluster
          properties:
            replicas:
              description: 'Number of replicas in the cluster TODO: Investigate CRD
                scale sub-resources. See: https://book.kubebuilder.io/reference/generating-crd.html#scale'
              format: int32
              minimum: 0
              type: integer
          required:
          - replicas
          type: object
        status:
          description: EtcdClusterStatus defines the observed state of EtcdCluster
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
