name: test and build

on: [push, pull_request]

jobs:
  test:
    name: test and build 
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - name: test and build
        run: make test manager
